<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite1">
    <test verbose="2" preserve-order="true" name="/Users/asan/IdeaProjects/luma_test_framework/src/test">
        <classes>
            <class name="selenium.CreateAccountTest"/>
            <class name="selenium.SignInTest"/>
        </classes>
    </test>
</suite>
